<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - YouTube Comment Sentiment Analysis</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body class="bg-black text-white">
    <nav class="bg-gray-800 p-6 flex justify-between items-center">
        <div class="flex items-center space-x-2">
            <img src="../static/images/youtube.svg" alt="Logo" class="h-10 w-10" />
            <span class="text-2xl font-bold">YouTube Comment Sentiment Analyzer</span>
        </div>
        <div class="flex space-x-8 text-lg font-semibold ml-auto">
            <a href="/" class="hover:text-red-500 hover:underline transition duration-200">Home</a>
            <a href="/how_it_works" class="hover:text-red-500 hover:underline transition duration-200">How It Works</a>
            <a href="/about" class="hover:text-red-500 hover:underline transition duration-200">About</a>
        </div>
    </nav>
    <main class="flex flex-col items-center justify-center min-h-screen">
        <h1 class="text-4xl font-bold mb-4">About Us</h1>
        <p class="text-lg mb-8 max-w-2xl text-center">
            Welcome to YouTube Comment Sentiment Analysis! Our platform allows you to analyze the sentiment of YouTube comments. Whether you're a content creator looking to understand your audience better or a researcher studying online interactions, our tool provides valuable insights into the emotions conveyed in YouTube comments.
        </p>
        <p class="text-lg mb-8 max-w-2xl text-center">
            Our mission is to make sentiment analysis accessible and easy to use for everyone. We leverage advanced natural language processing techniques to deliver accurate and meaningful sentiment analysis results.
        </p>
        <p class="text-lg mb-8 max-w-2xl text-center">
            Thank you for using our service. If you have any questions or feedback, feel free to contact us.
        </p>
    </main>
    <footer class="bg-gray-800 p-4 flex justify-between items-center">
        <div class="flex space-x-4">
            <a href="#" class="text-white">Privacy Policy</a>
            <a href="#" class="text-white">Contact Us</a>
        </div>
        <div class="flex space-x-4">
            <a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>
</body>
</html>